argcomplete==3.6.2
Brlapi==0.8.2
cachetools==5.5.2
certifi==2025.7.14
cffi==1.14.5
chardet==4.0.0
charset-normalizer==3.4.2
click==8.1.7
cockpit @ file:///builddir/build/BUILD/cockpit-323.1/tmp/wheel/cockpit-323.1-py3-none-any.whl
colorama==0.4.4
coloredlogs==15.0.1
colorlog==6.9.0
configobj==5.0.8
csscompressor==0.9.5
cupshelpers==1.0
dasbus==1.4
dbus-python==1.2.18
decorator==4.4.2
distlib==0.3.8
distro==1.9.0
docstring-parser==0.15
docutils==0.16
et_xmlfile==2.0.0
ethtool==0.15
exceptiongroup==1.2.2
execnet==2.1.1
fake-useragent==2.2.0
file-magic==0.4.0
filelock==3.13.4
flake8==7.1.1
flatbuffers==23.5.26
frozenlist==1.5.0
git-filter-repo==2.38.0
gitignore_parser==0.1.11
google==3.0.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.177.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
gpg==1.15.1
gql==2.0.0
graphql-core==2.3.2
greenlet==3.1.1
grpcio==1.74.0
grpcio-status==1.71.2
h11==0.14.0
h2==4.2.0
hpack==4.1.0
htmlmin==0.1.12
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.0
humanfriendly==10.0
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
iniconfig==2.0.0
iniparse==0.4
instructor==0.4.8
Jinja2==3.1.4
jiter==0.8.0
jmespath==1.0.1
libcomps==0.1.18
libvirt-python==10.5.0
lxml==5.1.0
magika==0.5.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mccabe==0.7.0
mdurl==0.1.2
meson==0.63.3
mpmath==1.3.0
msgpack==1.0.5
multidict==6.1.0
neovim==0.3.1
newrelic-lambda-cli==0.9.4
nftables==0.1
numpy==2.0.2
onnxruntime==1.17.1
openai==1.55.3
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.2
parse==1.20.2
parse_type==0.6.3
pathlib2==2.3.7.post1
perf==0.1
pexpect==4.8.0
pipenv==2023.12.1
platformdirs==4.2.0
playwright==1.49.0
pluggy==1.5.0
ply==3.11
promise==2.3
propcache==0.2.0
proto-plus==1.26.1
protobuf==5.29.5
psutil==5.8.0
ptyprocess==0.6.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycairo==1.20.1
pycodestyle==2.12.1
pycparser==2.20
pycryptodome==3.23.0
pycups==2.0.1
pycurl==7.43.0.6
pydantic==2.11.7
pydantic_core==2.33.2
pydumpck==1.20.1
pyee==12.0.0
pyenchant==3.2.0
pyflakes==3.2.0
Pygments==2.18.0
PyGObject==3.40.1
pyinotify==0.9.6
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.5
pynvim==0.4.3
pyparsing==3.2.3
PySocks==1.7.1
pytest==8.3.3
pytest-base-url==2.1.0
pytest-playwright==0.6.2
pytest-rerunfailures==15.0
pytest-xdist==3.6.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-gitlab==5.6.0
python-linux-procfs==0.7.3
python-slugify==8.0.4
pytz==2024.2
pyudev==0.22.0
pyxdg==0.27
PyYAML==5.4.1
redis==6.2.0
regex==2024.11.6
requests==2.32.4
requests-aws4auth==1.2.3
requests-toolbelt==1.0.0
rich==13.9.4
rpm==4.16.1.3
rsa==4.9.1
Rx==1.6.3
s3transfer==0.10.0
scidatetime==1.20.5
selenium==4.25.0
selinux==3.6
sepolicy==3.6
setools==4.4.4
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.32/src
sgtpyutils==1.20.8
shell_gpt==1.4.4
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
sos==4.8.2
soupsieve==2.5
spark-parser==1.8.9
speedtest-cli==2.1.3
sri-check==1.12.14
subscription-manager==1.29.42
sympy==1.12
systemd-python==234
tabulate==0.9.0
text-unidecode==1.3
tiktoken==0.9.0
tinyaes==1.1.1
token-count==0.2.1
toml==0.10.2
tomli==2.1.0
tqdm==4.67.1
trio==0.24.0
trio-websocket==0.11.1
typer==0.9.4
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2024.1
uncompyle6==3.9.2
uritemplate==4.2.0
urllib3==2.5.0
vboxapi==1.0
virtualenv==20.25.3
watchdog==6.0.0
websocket-client==1.8.0
wsproto==1.2.0
xdis==6.1.4
yarl==1.18.0
zipp==3.23.0
